<%= form_for @list do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<div class="field"><%= f.label :name, "Select your tasks" %><br>
   <%= f.collection_select(:id, @tasks, :id, :description) %>
 </div>

 <ul>
     <%= f.fields_for :tasks do |task| %>
     <li>
       Description: <%= task.text_field :description %>
     </li>
     <% end %>
   </ul>


   <%= f.fields_for :tasks do |task| %>
    <%= task.label :description %>
    <%= task.text_field :description %><br>
    <% end %>


<%= f.submit "Submit List" %>
<% end %>
