<h3>I hope you get to read this link in time.</h3>
<%= form_for @link do |f| %>
<% if @link.errors.any? %>

<div id="error_explanation">
  <h2>There were some errors:</h2>
  <ul>
    <% @link.errors.full_messages.each do |message| %>

    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>
<%= f.label :title %>
<br>
<%= f.text_field :title %>
<br>
<%= f.label :description %>
<br>
<%= f.text_field :description %>
<br>
<%= f.label :link %>
<br>
<%= f.text_field :link %>
<br>
<%= f.fields_for :user_link do |l| %>
 <%= l.label "Enter 1-3 as the number of weeks you'd like your link available for." %>
 <br>
 <%= l.number_field :expiration %><br>
<% end %>
<br>
<%= f.submit "Submit Link" %>
<% end %>
