<%= form_for @link do |f| %>
<% if @link.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :description %>
<%= f.text_field :description %>
<br>
<%= f.label :link %>
<%= f.text_field :link %>
<br>
<%= f.fields_for :user_link do |l| %>
 <%= l.label "Enter 1-3 as the number of weeks you'd like your link available for." %>
 <%= l.number_field :expiration %><br>
<% end %>
<br>
<%= f.submit "Submit Link" %>
<% end %>
