<h1>Welcome to HourGlass, hope you're ready to waste some time...</h1>
<br>

<h3>Here are the users with the most completed tasks...</h3>
<br>
<% User.top.reverse.each do |u| %>
<%= u.email %>
<h4><%=u.completed%> tasks completed.</h4>
<% end %>
<br>
<% if Link.top.user_links.count == 0 %>
<h3>There is no current top link, do your part and add one below!</h3>
<% else %>
<h3>The current top link is <%= link_to Link.top.title, link_path(Link.top) %>, it's been shared <%= Link.top.user_links.count %> times.</h3>
<% end %>
<br>
<% if Video.top.user_videos.count == 0 %>
<h3>There is no current top video, help out by adding one below.</h3>
<% else %>
<h3>The current top video is <%= link_to Video.top.description, video_path(Video.top) %>, it's been shared <%= Video.top.user_videos.count %> times.</h3>
<% end %>
<br>


<% if !@user.lists.empty? %>
  <h3>Here are your active lists:</h3>
  <br>
  <% @user.lists.each do |l| %>
  <li><%= link_to l.title, "users/#{current_user.id}/lists/#{l.id}" %></li>
  <br>
  <% end %>
  <%= link_to "Click here to add a new list.", "users/#{current_user.id}/lists/new" %>
  <br>
  <% else %>
  <h3>You don't have any active lists.</h3>
  <%= link_to "Start populating your collection here.", "users/#{current_user.id}/lists/new" %>
  <br>
<% end %>

<% if !@user.links.empty? %>
  <h3>Here are your active links:</h3>
  <br>
  <% @user.links.each do |li| %>
  <li><%= link_to li.title, "users/#{current_user.id}/links/#{li.id}" %></li>
  <br>
  <% end %>
  <%= link_to "Click here to add a new link.", "users/#{current_user.id}/links/new" %>
  <br>
  <% else %>
  <h3>You don't have any current links.</h3>
  <%= link_to "Click here to add one.", "users/#{current_user.id}/links/new" %>
  <br>
<% end %>

<% if !@user.videos.empty? %>
  <h3>Here are your active videos:</h3>
  <br>
  <% @user.videos.each do |v| %>
  <li><%= link_to v.description, "users/#{current_user.id}/videos/#{v.id}" %></li>
  <br>
  <% end %>
  <%= link_to "Click here to add a new video, please make sure to use an embed link.", "users/#{current_user.id}/videos/new" %>
  <br>
  <% else %>
  <h3>It seems you don't have any videos active.</h3>
  <%= link_to "As long as you have an embed link you can get started here.", "users/#{current_user.id}/videos/new" %>
  <br>
<% end %>
<br>
